html,
body,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#app > * {
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
}
#app > form {
  max-width: 100%;
}
#app h1 {
  display: block;
  min-width: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
}

::placeholder {
  font-size: 1.8rem;
  padding-left: 0.3rem;
}

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

$border-radius: 12px;
